<!DOCTYPE html>
<html>
  <head>
    <title>MovieDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <%= link_to('Home', root_path, class: 'navbar-brand') %>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to('New movie', new_movies_path, class: 'nav-link') %>
              </li>
            </ul>
            <span class="navbar-text">
              <% if user_signed_in? %>
                User: <%= current_user.name %>
                <%= link_to "| Logout", destroy_user_session_path, method: :delete, class: 'nav-divnk'  %>
              <% else %>
                <%= link_to "Login", '/users/sign_in', class: 'nav-divnk'  %>
              <% end %>
            </span>
          </div>
        </nav>
      <div id="notifications">
        <%= render "layouts/elements/flash_message" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
